// Mixins Here

.flex(@justify,@align) {
    display: flex;
    align-items: @align;
    justify-content: @justify;
}

.big-picture() {
    width: 90%;
    height: auto;
    padding: 1%;
    margin: 3px;
}